.insights-container {
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 4px 9px rgba(204, 204, 204, 0.794);
}

.graph-div {
  height: 500px;
}
