.dashboard {
  min-height: 90vh;
  min-width: 100%;
  background-color: rgb(240, 240, 240);
  box-shadow: 4px 4px 9px rgba(204, 204, 204, 0.794);
  border-radius: 20px;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 180px;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}
