.dashboard {
  min-height: 90vh;
  min-width: 100%;
  background-color: rgb(233, 233, 233);
  box-shadow: 4px 4px 7px rgba(204, 204, 204, 0.24);
  border-radius: 20px;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 180px;
  background-color: rgb(155, 155, 155);
  cursor: pointer;
}
