.dashboard {
  min-height: 90vh;
  /* min-width: 100%; */
  min-width: 65vw;
  padding: 0 100px 0 100px;
  background-color: rgba(240, 240, 240, 0.514);
  box-shadow: 4px 4px 9px #ccccccca;
  border-radius: 0 20px 20px 0;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 180px;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.search-bar {
  border: none;
  border-radius: 20px;
  width: 70%;
  min-height: 40px;
}

.logout-btn {
  height: 40px;
  /* background-color: rgb(152, 255, 152); */
  background-color: rgba(73, 112, 219, 0.459);
  border: none;
  color: white;
  border-radius: 20px;
  padding: 0 10px 0 10px;
}
