.custom-dropdown {
  border-radius: 10px;
  box-shadow: 4px 4px 7px rgba(204, 204, 204, 0.411);
  /* background-color: rgb(126, 126, 126); */
  background-color: rgb(195, 195, 195);
  outline: none;
}

.custom-dropdown:focus {
  outline-color: transparent;
  outline-style: none;
}
