.menu {
  background-color: rgba(240, 240, 240, 0.835);
  min-height: 200px;
  min-width: 250px;
  border-radius: 20px 0 0 20px;
}

.list-menu {
  margin-top: 200px;
  margin-left: 3rem;
  position: sticky;
  top: 0;
}

.list-menu li {
  padding-top: 30px;
}

.list-menu p {
  font-size: 14px;
}

.selected {
  color: rgb(111, 146, 228);
  font-size: 20px;
}
.selected p {
  font-size: 18px;
}
