.menu {
  background-color: rgba(240, 240, 240, 0.835);
  min-height: 200px;
  min-width: 250px;
  border-radius: 20px 0 0 20px;
}

.list-menu {
  margin-top: 300px;
  margin-left: 2rem;
}

.list-menu li {
  padding-top: 20px;
  font-size: 24px;
}
