.permutation-container {
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 9px rgba(204, 204, 204, 0.794);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 0px;
  border: 1px solid #555;
  cursor: pointer;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: rgba(73, 112, 219, 0.767);
  outline: none;
}

.checkbox-bg {
  background-color: rgb(255, 255, 255);
}

.graph-div {
  height: 800px;
}

p {
  font-size: 14px;
}
