.sample-container {
  width: 100%;
  min-height: 75px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 7px rgba(204, 204, 204, 0.24);
}

.feature {
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
}

.target {
  background-color: rgb(80, 134, 250);
}
