.sample-container {
  width: 100%;
  min-height: 75px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 7px rgba(204, 204, 204, 0.24);
}

.feature {
  border-radius: 10px 0 0 10px;
  background-color: rgb(241, 241, 241);
}

.feature-value {
  border-radius: 0 10px 10px 0;
  background-color: rgb(228, 228, 228);
}

.target-key {
  background-color: rgba(73, 112, 219, 0.767);
  color: white;
  border-radius: 10px 0 0 10px;
}
.target-val {
  background-color: rgba(73, 112, 219, 0.561);
  color: white;
  border-radius: 0 10px 10px 0;
}
